---
---

<div>
<a name="{{entry.key}}"/>
<b>{{entry.title}}</b> <span style="font-size:15px"> ({{entry.year}}) </span>
<br>
{% if entry.booktitle %}
  {{entry.booktitle}}
  <br>
{% endif %}
{% if entry.journal %}
  {{entry.journal}}
  <br>
{% endif %}
<i>{{entry.author}}</i>
</div>

{% if links['published.pdf'] %}
    <a target="_blank" rel="noopener noreferrer" href="{{ links['published.pdf'] }}"><input class="button0" type="button" value="PDF" /></a>
{% else %}
    {% if links['preprint.pdf'] %}
        <a target="_blank" rel="noopener noreferrer" href="{{ links['preprint.pdf'] }}"><input class="button0" type="button" value="Preprint PDF" /></a>
    {% endif %}
{% endif %}

{% if entry.code %}
    <a target="_blank" rel="noopener noreferrer" href="{{ entry.code }}"><input class="button0" type="button" value="Code" /></a>
{% endif %}

{% if entry.url %}
    <a target="_blank" rel="noopener noreferrer" href="{{ entry.url }}"><input class="button0" type="button" value="Link" /></a>
{% endif %}

<a download="{{entry.key}}.bib" href="data:application/x-bibtex,{{entry.bibtex | uri_escape }}"><input class="button0" type="button" value="Bibtex" /></a>
